html {
  background-color: #e5ff00;
  background-image: url('/img/avatar_00.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
}

.button-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
