html {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #e5ff00;
}

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.row {
  margin: 0.5em 0.5em 0.5em 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  flex-grow: 1;
  margin: 0.5em;
  height: 3em;
  border: none;
  color: white;
  padding: .5em 2em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  border-radius: 2px;
}

span {
  margin-right: .25em;
}

.primary {
  background-color: #6a19ff;
}

.primary:hover {
  background-color: #5e06ff;
}

.secondary {
  background-color: #ff0067;
}

.secondary:hover {
  background-color: #e5005c;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    color: #4601c5;
}
